.button {
  border-radius: $rounded-pill;
  transition: $transition;
  letter-spacing: -0.5px;
  background: $dark-grey;
  align-items: center;
  font-size: 18px;
  padding: 0 24px;
  color: $white;
  display: flex;
  height: 52px;
  gap: 8px;

  &:hover {
    background: lighten($borders, 6%);
  }

  &:active {
    transform: scale(0.96);
  }

}

.button.primary {
  background: darken($white, 8%);
  color: $black;

  &:hover {
    background: $white;
  }
}

.button.small {
  border-radius: $rounded-sm;
  font-size: 16px;
  padding: 0 20px;
  height: 44px;
}

.invert {
  filter: invert(1);
}