.nav {
    background: rgba($black, 0.9);
    backdrop-filter: blur(20px);
    transition: $transition;
    align-items: center;
    position: fixed;
    display: flex;
    height: 160px;
    width: 100%;
    z-index: 2;
    left: 0;
    top: 0;

    .container {
        justify-content: space-between;
        align-items: center;
        display: flex;
    }
}

.nav.scrolled {
    height: 100px;

    .logo {
        transform: scale(0.9) translateX(-3px);
    }
}


.nav-links {
    align-items: center;
    display: flex;

    a {
        padding: 20px;
    }

    .button {
        margin-left: 16px;
    }
}