section {
    position: relative;
    padding: 120px 0;
    width: 100%;

    h4 {
        margin-bottom: 80px;
    }

    .box {
        background: $off-black;
    }

    &:nth-child(odd) {
        background: $off-black;

        .box {
            background: $jet-black;
        }
    }
}

section.clipped {
    overflow: hidden;
}