h1,
h2 {
    letter-spacing: -3px;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.3;
    font-size: 68px;
}

h3 {
    letter-spacing: -2px;
    color: $off-black;
    font-size: 54px;
}

h4 {
    letter-spacing: -1px;
    font-size: 24px;
    color: $grey;
}

p,
a {
    letter-spacing: -0.6px;
    font-size: 18px;
    color: $grey;
}

a {
    transition: $transition;

    &:hover {
        color: $white;
    }
}