@import 'reset';
@import 'logo';
@import 'button';
@import 'type';
@import 'nav';
@import 'hero';
@import 'section';
@import 'layout';
@import 'box';

:root {
    --jet-black: #090909;
    --black: #0d0d0d;
    --off-black: #111;
    --dark-grey: #1b1b1b;
    --grey: #818892;
    --white: #fff;
    --off-white: #f0f0f0;
    --borders: #222;

    --rounded-sm: 8px;
    --rounded-md: 12px;
    --rounded-lg: 20px;
    --rounded-pill: 100px;

    --transition: all 0.12s ease-in-out;
}

body {
    font-family: 'Inter', sans-serif;
    background: var(--black);
    color: var(--white);
    font-weight: bold;
}

.wheel {
    margin: -120px 0;

    h3 {
        color: var(--white);
        margin: 8px 0;

        &:nth-child(1),
        &:nth-child(7) {
            opacity: 0.08;
        }

        &:nth-child(2),
        &:nth-child(6) {
            opacity: 0.2;
        }

        &:nth-child(3),
        &:nth-child(5) {
            opacity: 0.4;
        }
    }
}

.icon {
    width: 28px;
}

.video {
    height: 600px;
}