@import 'reset';
@import 'variables';
@import 'logo';
@import 'button';
@import 'footer';
@import 'type';
@import 'nav';
@import 'hero';
@import 'section';
@import 'layout';
@import 'box';

body {
  font-family: 'Inter', sans-serif;
  background: $black;
  font-weight: bold;
  color: $white;
}

.wheel {
  margin: -120px 0;

  h3 {
    color: $white;
    margin: 8px 0;

    &:nth-child(1),
    &:nth-child(7) {
      opacity: 0.08;
    }

    &:nth-child(2),
    &:nth-child(6) {
      opacity: 0.2;
    }

    &:nth-child(3),
    &:nth-child(5) {
      opacity: 0.4;
    }
  }
}

.icon {
  width: 28px;
}

.video {
  height: 600px;
}

.dashboard {
  box-shadow: 0 40px 40px 0 rgba(0, 0, 0, 0.24);
  margin-bottom: -120px;
  margin-top: 120px;
}